@tailwind base;
@tailwind components;
@tailwind utilities;

.glassPrism{
background: rgba(0, 0, 0, 0.35);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.5px);
-webkit-backdrop-filter: blur(11.5px);
border: 1px solid rgba(0, 0, 0, 0.01);
/* background-color: red; */
}
